<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .sm-icons {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .footer-content-container h5 {
            margin-bottom: 1.5em;
        }

        .footer-paragraph p {
            margin-bottom: 2em !important;
        }

        p.sub{
            font-weight: 300;
            font-size: 15px;
        }

        @media(max-width: 575.98px){
            .social-main{
                margin-bottom: 0 !important;
            }

            .footer-content-container{
                margin-bottom: 0 !important;
            }

            div.sm-icons{
                margin-bottom: 0 !important;
            }

            .first-two{
                margin-bottom: 0 !important;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="background-color: #5cdb95; color: #fff;">
        <div class="row justify-content-center" style="padding-top: 6em;">
            <div class="col-sm-12 col-lg-4 first-two">
                <div class="footer-content-container">
                    <h5>Get in touch</h5>
                    <div class="footer-paragraph">
                        <p class="sub">youremail@gmail.com</p>
                        <p class="sub">0000-0000-0000</p>
                    </div>
                </div>
            </div>


            <div class="col-sm-12 col-lg-4 first-two">
                <div class="footer-content-container">
                    <h5>About us</h5>
                    <div class="footer-paragraph">
                        <p class="sub">Our Mission</p>
                        <p class="sub">Terms And Conditions</p>
                        <p class="sub">Privacy Policy</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-4 social-main">
                <div class="footer-content-container">
                    <h5 style="margin-bottom: 2em">Social media</h5>
                    <div class="sm-icons">
                        <div>
                            <i class="fab fa-facebook-f" style="color: #fff; font-size: 20px"></i>
                        </div>
                        <div>
                            <i class="fab fa-twitter" style="color: #fff; font-size: 20px"></i>
                        </div>
                        <div>
                            <i class="fab fa-instagram" style="color: #fff; font-size: 20px"></i>
                        </div>
                        <div>
                            <i class="fab fa-whatsapp" style="color: #fff; font-size: 20px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="copyright-text container pb-4 pt-0" style="margin-bottom: 0;">©2020 Osaka Ugo Pharmacy, Nigeria. All Rights
            Reserved.</p>
    </div>
</body>

</html>