<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .my-container {
            background-color: #5cdb95;
            color: #fff;
            padding-top: 5em;
        }

        .copyright-text {
            padding-bottom: 3em;
            font-size: 13px;
            line-height: 2em;
            font-family: Roboto Light;
            margin-bottom: 0;
        }

        .footer-headers {
            padding-bottom: 0.5em;
        }

        .social-media h5 {
            padding-bottom: 1em;
        }

        .social-media {
            padding-bottom: 0;
            height: 5em !important;
        }


        .space-under {
            margin-bottom: 3.5em;
        }

       

        .sub{
            font-family: Roboto Light;
        }


        @media (min-width: 768px) {
            .space-under {
                text-align: left;
            }

            .social-media div.row {
                padding: 0 !important;
                justify-content: start !important;
            }

            div.row {
                padding-left: 2em;
            }
        }

        @media (min-width: 992px) {
            .space-under {
                text-align: left;
            }

            .social-media div.row {
                padding: 0 !important;
                justify-content: start !important;
            }

            .main-row {
                padding-left: 10em;
            }
        }
    </style>
</head>

<body>
    <div>
        <div class="container-fluid my-container footer">
            <div class="row main-row">
                <div class="col-12 col-md-7 col-lg-4 space-under">
                    <h5 class="footer-headers">
                        <b>Get In Touch</b>
                    </h5>
                    <p class="sub">youremail@gmail.com</p>
                    <p class="sub">0000-0000-0000</p>
                </div>
                <div class="col-12 col-md-5 col-lg-4 space-under">
                    <h5 class="footer-headers">
                        <b>About Us</b>
                    </h5>
                    <p class="sub">Our Mission</p>
                    <p class="sub">Terms And Conditions</p>
                    <p class="sub">Privacy Policy</p>
                </div>
                <div class="col-12 col-md-8 col-lg-4 social-media space-under">
                    <div>
                        <h5 class="footer-headers">
                            <b>Social Media</b>
                        </h5>
                        <div class="row main-row justify-content-center">
                            <div class="col-2 space-under">
                                <!-- Solved Fontawesome brand icon problem -->
        
                                <i class="fab fa-facebook-f" style="color: #fff; font-size: 20px"></i>
                            </div>
                            <div class="col-2 space-under">
                               <i class="fab fa-twitter" style="color: #fff; font-size: 20px"></i>
                            </div>
                            <div class="col-2 space-under">
                                <i class="fab fa-instagram" style="color: #fff; font-size: 20px"></i>
                            </div>
                            <div class="col-2 space-under">
                                <i class="fab fa-whatsapp" style="color: #fff; font-size: 20px"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <p class="copyright-text container">©2020 Osaka Ugo Pharmacy, Nigeria. All Rights Reserved.</p>
        </div>
    </div>
</body>

</html>