<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    :root {
      --biggest-font-size: 64px;
      --header-font-size: 32px;
      --sub-heading-font-size: 24px;
      --secondary-font-size: 18px;
      --primary-font-size: 16px;
      --primary-color: #5cdb95;
      --secondary-color: #ffffff;
      --text-color-one: #000000;
      --button-border-radius: 6px;
      --button-padding: 0.5rem 1.5rem;
    }

    header {
      background-color: #fff;
      margin-top: -8px;
      z-index: 3;
      box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.12);
    }

    nav {
      font-family: Roboto;
      font-size: 16px;
    }

    .ham {
      background: rgb(68, 66, 66);
      width: 20px;
      height: 3px;
      margin-bottom: 0.2rem;
    }

    @media(min-width: 992px) {
      div.toggler {
        display: none !important;
      }
    }

    button {
      border: none;
      outline: none;
      background: none;
    }

    li a {
      letter-spacing: -0.05em;
      font-size: var(--primary-font-size);
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.002rem;
      color: rgb(55, 53, 47);
      ;
      /* -webkit-font-smoothing: antialiased; */
    }

    .make-fixed {
      position: fixed;
      top: 0;
    }

    .dropdown-menu a {
      padding-bottom: 1rem;
    }

    .dropdown-menu a:active {
      background-color: rgb(236, 233, 233);
    }
  </style>
</head>

<body>

  <header id="header" class="container-fluid make-fixed">
    <nav class="navbar navbar-expand-lg navbar-light pl-0 pr-0">
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="logo" width="150" height="50" class="mt-2" />
      </a>
      <div class="toggler" style="display: grid; grid-template-columns: repeat(2, 1fr);">
        <div>
          <a class="nav-link" href="/shopping-cart/" style="padding: 0 !important; width: 3em;">
            <i class="fas fa-shopping-cart" style="color: #5cdb95 !important; font-size: 18px;"></i>
            <span class="badge"
              style="background-color: rgb(202, 197, 197); color: #fff; border-radius: 15px;">{{session.cart.totalQty}}</span>
          </a>
        </div>
        <div>
          <button id="hamburger-menu" style="padding-top: 0.2rem;">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>
          </button>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-2">
            <a href="/" class="nav-link" style="color: #000">Home</a>
          </li>
          <li class="nav-item dropdown mr-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #000">Products</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" style="color: #000" href="/antimalaria">Anti-Malaria</a>
              <a class="dropdown-item" style="color: #000" href="/multivitamins">Multivitamins</a>
              <a class="dropdown-item" style="color: #000" href="/equipments">Equipments</a>
              <a class="dropdown-item" style="color: #000" href="/contraceptives">Contraceptives</a>
              <a class="dropdown-item" style="color: #000" href="/antibiotics">Antibiotics</a>
              <a class="dropdown-item" style="color: #000" href="/eyedrugs">Eye Drugs</a>
              <a class="dropdown-item" style="color: #000" href="/ulcerandgastro">Ulcer and Gastro Drugs</a>
              <a class="dropdown-item" style="color: #000" href="/analgesics">Analgesics</a>
              <a class="dropdown-item" style="color: #000" href="/antihypertensives">Anti-Hypertensives</a>
            </div>
          </li>
          <li class="nav-item mr-2">
            <a href="/contact" class="nav-link" style="color: #000">Contact Us</a>
          </li>
          <li class="nav-item mr-2">
            <a href="/about" class="nav-link" style="color: #000">About</a>
          </li>
          <li class="nav-item dropdown mr-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" style="color: #000">Login</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{# if login }}
              <a href="/user/profile" class="dropdown-item" style="color: #000">User account</a>
              <a href="/user/logout" class="dropdown-item" style="color: #000">Logout</a>
              {{ else }}
              <a href="/user/signup" class="dropdown-item" style="color: #000">Create account</a>
              <a href="/user/signin" class="dropdown-item" style="color: #000">Sign in</a>
              {{/if}}

            </div>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="#">
              <i class="fas fa-search" style="color: #5cdb95 !important"></i>
            </a>
{{!-- 
            <script async src="https://cse.google.com/cse.js?cx=77a360dc3985e2e77"></script>
            <div class="gcse-search"></div> --}}

            {{!-- <script async src="https://cse.google.com/cse.js?cx=aef43835fa5d202aa"></script>
              
              <div class="gcse-search"></div> --}}
            {{!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> --}}
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shopping-cart/">
              <i class="fas fa-shopping-cart" style="color: #5cdb95 !important"></i>
              <span class="badge"
                style="background-color: rgb(202, 197, 197); color: #fff; border-radius: 15px;">{{session.cart.totalQty}}</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <script>
    function openNav() {
      document.getElementById("myNav").style.height = "100%";
      document.getElementById("header").style.visibility = "hidden";
    }
    document.getElementById('hamburger-menu').addEventListener('click', openNav, false);
  </script>
</body>

</html>