<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /* The Overlay (background) */
        .overlay {
            /* Height & width depends on how you want to reveal the overlay (see JS below) */
            /* font-size: 2px !important; */
            height: 0;
            width: 100%;
            position: fixed;
            /* Stay in place */
            z-index: 2;
            /* Sit on top */
            left: 0;
            top: 0;
            background-color: rgb(255, 255, 255);
            /* Black w/opacity */
            overflow-x: hidden;
            /* Disable horizontal scroll */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
        }

        /* Position the content inside the overlay */
        .overlay-content {
            position: relative;
            width: 70%;
            /* 100% width */
            margin-top: 30px;
            /* 30px top margin to avoid conflict with the close button on smaller screens */
        }

        /* The navigation links inside the overlay */
        .overlay a {
            padding: 1rem 2rem;
            text-decoration: none;
            font-size: 18px;
            color: #000;
            display: block;
            /* Display block instead of inline */
            transition: 0.3s;
            /* Transition effects on hover (color) */
        }

        .dropdown-content a {
            font-size: 14px;
        }

        /* When you mouse over the navigation links, change their color */
        .overlay a:hover,
        .overlay a:focus {
            color: #000000;
        }

        /* Position the close button (top right corner) */
        .overlay .closebtn {
            /* position: absolute;
  top: 20px;
  right: 45px; */
            font-size: 36px;
            color: #000;
            /* width: 100px;
  margin: 0; */
        }

        .overlay li {
            list-style-type: none;
        }

        /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
        @media screen and (max-height: 450px) {
            .overlay a {
                font-size: 10px;
            }

            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }

        .dropdown-content {
            display: none;
        }

        .show {
            display: block;
        }

       
    </style>
</head>

<body>
    <div id="myNav" class="overlay">
        <div class="row" style="height: 10%;">
            <div class="col-2">
                <a href="javascript:void(0)" class="closebtn" id="closeBtn">&times;</a>
            </div>
            <div class="col-8">
                <img src="/images/OU6.png" alt="logo" width="120" height="40" class="mt-4 mr-2" />
            </div>
        </div>
        <hr />
        <!-- Button to close the overlay navigation -->

        <!-- Overlay content -->
        <div class="overlay-content">


            <a id="products-link" class="dropbtn text-left">
                Products
                <i class="fas fa-caret-down" id="p-dropdown-icon" style="color: #000;"></i>
            </a>
            <a href="/contact" class="text-left">Contact us</a>

            <a href="/about" class="text-left">About</a>

            <a href="#" id="login-link" class="text-left">
                Login
                <i class="fas fa-caret-down" id="l-dropdown-icon" style="color: #000"></i>
            </a>
            <div class="dropdown-content text-left" id="login">
                <a href="/user/signup">Create account</a>
                <a href="/user/signin">Sign in</a>
            </div>
            <div class="dropdown"></div>


        </div>
    </div>

    <div id="productNav" class="overlay">
        <div class="row" style="height
            : 10%;">
            <div class="col-2">
                <a href="javascript:void(0)" class="closebtn" id="product-menu-close" >&times;</a>
            </div>
            <div class="col-8" style="margin-bottom: -1em !important; ">
                <img src="/images/OU6.png" alt="logo" width="120" height="40" class="mt-4 mr-2" />
            </div>
        </div>
        <hr />

        <div class="overlay-content">
            <a class="text-left">Anti-malaria</a>
            <a class="text-left">Multivitamins</a>
            <a class="text-left">Equipments</a>
            <a class="text-left">Contraceptives</a>
            <a class="text-left">Antibiotics</a>
            <a class="text-left">Vision drugs</a>
            <a class="text-left">Ulcer and Gastro drugs</a>
            <a class="text-left">Analgesics</a>
            <a class="text-left">Anti-hypertensives</a>
        </div>
    </div>

<script>
   function closeNav(event) {
        document.getElementById("myNav").style.height = "0%";
        document.getElementById("header").style.visibility = "visible";
    }
    var closeBtn = document.getElementById('closeBtn');
    closeBtn.addEventListener('click', closeNav, false);

    function openProductMenu(event) {
       
      document.getElementById("productNav").style.height = "100%";
    }
    var productsLink = document.getElementById('products-link');
    productsLink.addEventListener('click', openProductMenu, false);

    function productMenuExit(event) {
      document.getElementById("productNav").style.height = "0%";
    }
    var closeProductMenu = document.getElementById('product-menu-close');
    closeProductMenu.addEventListener('click', productMenuExit, false);

    function openDropdown(event) {
 
      if (event.target.id === "products-link" || event.target.id === "p-dropdown-icon") {
        document.getElementById("products").classList.toggle("show");
      }

      if (event.target.id === "login-link" || event.target.id === "l-dropdown-icon") {
        document.getElementById("login").classList.toggle("show");
      }
    }
    var loginLink = document.getElementById('login-link');
    loginLink.addEventListener('click', openDropdown, false);


</script>
</body>

</html>