<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wrapper {
            width: 95%;
            margin: 0 auto;
        }

        .layer {
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px;
            text-align: left;
            background-color: #4fae76;
            color: #fff;
            margin-bottom: 2.5em;
        }

        .sub-layer-grid {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 1em;
            color: #000;
        }

        .sub-layer {
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px;
            text-align: left;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            justify-items: left;
            padding: 0.5em;
        }



        .paragraph p {
            margin-top: 12px;
            padding-left: 1em;
        }






        .layer p {
            padding: 1em;
        }

        .margin {
            margin-top: 6em;
        }

        @media(min-width: 992px) {
            .wrapper {
                width: 80%;
            }

            .layer p {
                padding: 2em;
            }
        }
    </style>
</head>

<body class="margin-top: 6em;">
    <div class="wrapper margin">
        <div class="layer">
            <p><b>Orders</b></p>
        </div>



        <div class="sub-layer-grid">
            {{#if orders}}
            {{#each orders }}
            <div class="sub-layer">
                <div class="paragraph">
                    <p>{{ this.cart }}</p>
                    <hr>
                    <p>{{ this.orderDate }}</p>
                </div>
            </div>
            {{/each}}

            {{ else }}
            <h2>You have no orders yet</h2>
            <div style="margin-top: 4em !important;">
                <a href="/" style="background-color: #4fae76; color: #fff;  border-radius: 3px;
      padding: 0.5rem 1rem; border: none;" class="remove">Go to shop</a>
            </div>
            {{/if}}



        </div>
    </div>
</body>

</html>