<style>
    :root {
        --biggest-font-size: 64px;
        --header-font-size: 32px;
        --sub-heading-font-size: 24px;
        --secondary-font-size: 18px;
        --primary-font-size: 16px;
        --primary-color: #4fae76;
        --secondary-color: #ffffff;
        --text-color-one: #000000;
        --text-color-two: rgba(0, 0, 0, 0.6);
        --button-border-radius: 6px;
        --button-padding: 0.5rem 1.5rem;
    }

    .wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .layer {
        width: 100%;
        border-radius: 10px;
        box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px;
        text-align: left;
        background-color: #4fae76;
        color: #fff;
        margin-bottom: 2.5em;

    }

    .sub-layer-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1em;
        color: #000;
    }

    .sub-layer {
        width: 100%;
        border-radius: 10px;
        box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        align-items: center;
        justify-items: left;
        padding: 0.5em;
    }

    .icon-container {
        justify-self: center;
    }

    .paragraph p {
        margin-top: 12px;
    }

    .icon {
        font-size: 24px;
    }

    .sub-layer-link {
        display: block;
        color: #000;
    }

    .sub-layer-link:active {
        background-color: #aae6c5;
        color: #fff;
    }

    .sub-layer-link:hover {
        text-decoration: none;
        color: #000;
    }

    .angle-right-icon {
        justify-self: center;
        font-size: 18px;
    }

    .layer p {
        padding: 2em;
    }

    .margin {
        margin-top: 6em;
    }

    @media(min-width: 992px) {
        .wrapper {
            width: 80%;
        }

        .layer p {
            padding: 2em;
        }
    }
</style>

<div class="wrapper margin">
    <div class="layer">
        <p><b>Welcome, </b>{{ nameOfUser }}.<br> <small>{{user}}</small></p>
    </div>

    <div class="sub-layer-grid">
        <a class="sub-layer-link" href="/user/orders">
            <div class="sub-layer">
                <div class="icon-container">
                    <i class="fas fa-boxes icon" style="color: #4fae76;"></i>
                </div>
                <div class="paragraph">
                    <p>Orders</p>
                </div>
                <div class="angle-right-icon"><i class="fas fa-angle-right" style="color: var(--primary-color);"></i>
                </div>
            </div>
        </a>

        <a class="sub-layer-link" href="/user/details">
            <div class="sub-layer">
                <div class="icon-container">
                    <i class="fas fa-user-circle icon" style="color: var(--primary-color);"></i>
                </div>
                <div class="paragraph">
                    <p>Account details</p>
                </div>
                <div class="angle-right-icon"><i class="fas fa-angle-right" style="color: var(--primary-color);"></i>
                </div>
            </div>
        </a>

        <a class="sub-layer-link" href="/user/change-password">
            <div class="sub-layer">
                <div class="icon-container">
                    <i class="fas fa-lock icon" style="color: var(--primary-color);"></i>
                </div>
                <div class="paragraph">
                    <p>Change password</p>
                </div>
                <div class="angle-right-icon"><i class="fas fa-angle-right" style="color: var(--primary-color);"></i>
                </div>

            </div>
        </a>

    </div>
</div>