<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .wrapper {
            width: 95%;
            margin: 0 auto;
        }

        .layer {
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px;
            text-align: left;
            background-color: #5cdb95;
            color: #fff;
            margin-bottom: 2.5em;
        }
        .sub-layer-grid{
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 1em;
            color: #000;
        }

        .sub-layer {
            width: 100%;
            border-radius: 10px;
            box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px;
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            align-items: center;
            justify-items: left;
            padding: 1em;
        }

        .paragraph p {
            margin-top: 12px;
        }

        .icon {
            font-size: 24px;
        }

        .angle-right-icon{
            justify-self: right;
            font-size: 18px;
        }

        .layer p {
            padding: 1em;
        }

        .margin {
            margin-top: 6em;
        }
    </style>
</head>

<body>
    <div class="wrapper margin">
        <div class="layer">
            <p><b>Welcome,<br> </b> {{ user }}</p>
        </div>

        <div class="sub-layer-grid">
             <div class="sub-layer">
            <div class="icon-container">
                <i class="fas fa-boxes icon"></i>
            </div>
            <div class="paragraph">
                <p>Orders</p>
            </div>
            <div class="angle-right-icon"><i class="fas fa-angle-right"></i> </div>
        </div>


        <div class="sub-layer">
            <div class="icon-container">
                <i class="fas fa-user-circle icon"></i>
            </div>
            <div class="paragraph">
                <p>Account Details</p>
            </div>
            <div class="angle-right-icon"><i class="fas fa-angle-right"></i> </div>
        </div>

        <div class="sub-layer">
            <div class="icon-container">
                <i class="fas fa-lock icon"></i>
            </div>
            <div class="paragraph">
                <p>Change password</p>
            </div>
            <div class="angle-right-icon"><i class="fas fa-angle-right"></i> </div>

        </div>
        </div>
    </div>




























    {{!-- <div class="container wrapper">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{# if orders}}
                <h1>User Profile</h1>
                <h3>My Orders</h3>

                {{# each orders}}
                <div class="card">
                    <div class="card-body">
                        {{ this.cart }}
                    </div>
                </div>
                {{/each}}

                {{ else }}
                <h1>User Profile</h1>
                <hr>
                <h2>You have no orders yet</h2>
                <div style="margin-top: 4em !important;">
                    <a href="/" style="background-color: #5cdb95; color: #fff;  border-radius: 3px;
      padding: 0.5rem 1rem; border: none;" class="remove">Go to shop</a>
                </div>

                {{/if}}

            </div>
        </div>
    </div> --}}
</body>

</html>