<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        :root {
            --biggest-font-size: 64px;
            --header-font-size: 32px;
            --sub-heading-font-size: 24px;
            --secondary-font-size: 18px;
            --primary-font-size: 16px;
            --primary-color: #5cdb95;
            --secondary-color: #ffffff;
            --text-color-one: #000000;
            --text-color-two: rgba(0, 0, 0, 0.6);
            --button-border-radius: 6px;
            --button-padding: 0.5rem 1.5rem;
        }

        .third-custom-container {
            width: 75%;
            margin: 0 auto;
        }

        .signup-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 6.5em;
            grid-column-gap: 6em;
        }

        .info-section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 100px 50px 200px;
            padding-top: 2em;
            padding-left: 2em;
        }

        .signin-header {
            font-size: var(--header-font-size);
            font-weight: 500;
            text-align: left;
            color: var(--text-color-one);
        }

        div.signin-info-paragraph {
            text-align: left;
            font-size: var(--primary-font-size);
            color: var(--text-color-two);
        }

        .signup-header-mobile {
            font-size: var(--header-font-size);
            font-weight: 500;
            text-align: left;
            color: var(--text-color-one);
        }

        div.signup-info-paragraph-mobile {
            text-align: left;
            font-size: var(--primary-font-size);
            color: var(--text-color-two);

        }


        .form-section p {
            color: var(--text-color-one);
            font-size: var(--primary-font-size);
            font-weight: 500;
            margin-top: 3em;
            text-align: left;
        }

        .form-section div {
            text-align: left;
            margin-top: 2em;
        }

        .form-section div input {
            border: 1px solid #ccc;
            border-radius: 6px;
            padding: 0.7em 0.5em;
            outline: none;
            width: 29em;
            font-size: 14px;
            background-color: #f4f6f8;
            border: 0;
            box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px, rgba(84, 70, 35, 0.15) 0px 1px 3px;
        }

        .form-section div button {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: var(--button-padding);
            border-radius: var(--button-border-radius);
            font-size: var(--secondary-font-size);
        }

        .already-a-member p {
            margin-top: 0.2em;
            font-weight: 400 !important;
            font-size: 14px;
        }

        @media(max-width: 575.98px) {
            .signup-container {
                grid-template-columns: 1fr;
                margin-top: 4em;
            }

            div.signup-info-paragraph-mobile p {
                font-weight: 400 !important;
                margin-top: -1em;
            }

            div.info-section {
                display: none;
            }

            .form-section div input {
                width: 23em;
            }

            div.signup-info-paragraph-mobile p {
                font-weight: 400 !important;
            }

            p.signin-paragraph-secondary-text {
                margin-top: 2em;
                font-size: 14px;
            }

             div.submit-button-container{
                margin-top: 3em;
            }

        }

        @media(min-width: 992px) {
            .signup-header-mobile {
                display: none;
            }

            div.signup-info-paragraph-mobile {
                display: none;
            }
        }
    </style>
</head>

<body>
    <div class="third-custom-container">
        <div class="signup-container">
            <div class="info-section">
                <div class="signin-header">
                    Login.
                </div>
                <div class="signin-info-paragraph">
                    <p>Welcome back! We missed you.</p>
                </div>

            </div>
            <div class="form-section">

                <div class="signup-header-mobile">
                    Login.
                </div>
                <div class="signup-info-paragraph-mobile">
                    <p>Welcome back! We missed you.</p>
                </div>
                {{#if hasErrors}}
                <div class="alert alert-danger val-errors" style="width: 26em;">
                    {{# each messages }}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                <p class="signin-paragraph-secondary-text">Sign in to access your account.</p>
                <form action="/user/signin" method="post">
                    <div>
                        <label>Email Address</label>
                        <br>
                        <input type="email" placeholder="example@gmail.com" id="email" name="email" />

                    </div>

                    <div>
                        <label>Password</label>
                        <br>
                        <input type="password" placeholder="6+ characters" id="password" name="password" />
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}" </div>

                        <div class="submit-button-container">
                            <button type="submit">Submit</button>
                        </div>

                        <div class="already-a-member">
                            <p>Don't have an account? <a href="/user/signup"><span
                                        style="color: var(--primary-color); font-weight: 500">Sign up</span></a></p>
                        </div>


                </form>

            </div>

        </div>
    </div>
    <!-- <div class="container-fluid p-0" style="margin-top: 10em;">
    <header style="box-shadow: none;">
      <h2 class="header">Sign In</h2>
      <p>Welcome back!</p>
      {{#if hasErrors}}
      <div class="alert alert-danger val-errors">
        {{# each messages }}
        <p>{{this}}</p>
        {{/each}}
      </div>
      {{/if}}
    </header>

    <section>
      <form action="/user/signin" method="post">

        <label for="email">Email</label><br>
        <input type="email" id="email" name="email">

        <br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <div class="button-container">
          <button type="submit" class="shop-now">Sign in</button>
        </div>
      </form>
      <p style="margin-top: 2em;">Don't have an account? <a href="/user/signup">Sign up</a></p>
    </section>
  </div>-->
</body>

</html>