<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            margin-top: 1em;
        }

        .category-paragraph {
            margin-top: 3.5em;
        }

        header p {
            text-align: center;
            margin-top: 1.5em;
            line-height: 1.5em;
            font-size: 15px;
        }

        h2 {
            margin-bottom: 1.5em;
            font-size: 1.5em;
            font-weight: bold;
            color: #000;
        }

        form {
            width: 40%;
            text-align: left;
            margin: 0 auto;
        }

        label {
            margin-top: 2em;
        }

        form input {
            width: 100%;
            border-width: 0 0 1px 0;
            border-color: rgb(116, 111, 111);
            outline: none;
        }

        .shop-now {
            border: none;
            background-color: #5cdb95;
            border-radius: 3px;
            padding: 0.5rem 1.5rem;
            color: rgb(255, 255, 255);
            margin-top: 3rem;
            font-size: 18px;

        }

        section {
            margin-bottom: 4em;
        }

        .val-errors{
            width: 40%;
            margin: 1em auto;
            padding: 0;
        }

        .val-errors p{
            margin: 8px auto;
        }

        .container {
            margin-bottom: 4em;
            font-size: 13px;
        }

        .button-container{
            width: 40%;
            margin: 0 auto;
            padding-left: 3em;
            padding-right: 3em;
        }

        @media (max-width: 575.98px) {
            form {
                width: 70%;
                text-align: left;
                margin: 1.5em auto 0 auto;
            }

            .category-paragraph {
                font-size: 13px;
                margin-top: 2em;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid p-0">
        <header>
            <h2 class="header">Sign Up</h2>
            <p>Sign up to be able to purchase from us</p>
            {{#if hasErrors}}
                <div class="alert alert-danger val-errors">
                    {{# each messages }}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/if}}
        </header>

        <section>
            <form action="/user/signup" method="post">
                {{!-- <label>Name</label><br>
                <input type="text">

                <br> --}}

                <label for="email">Email</label><br>
                <input type="email" id="email" name="email">

                <br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                <div class="button-container">
                    <button type="submit" class="shop-now">Sign Up</button>
                </div>
                
            </form>
            
        </section>



        <div class="container">
            <p>Already have an account? <router-link to="/SignIn">Sign in</router-link>
            </p>
        </div>

    </div>
</body>

</html>