<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header {
            margin-top: 1em;
        }

        .category-paragraph {
            margin-top: 3.5em;
        }

        header p {
            text-align: center;
            margin-top: 1.5em;
            line-height: 1.5em;
            font-size: 15px;
        }

        h2{
  font-weight: bold;
  color: #000;
  margin-top: 2em;
  margin-bottom: 1em;
}

    

        form {
            width: 40%;
            text-align: left;
            margin: 0 auto;
        }

        label {
            margin-top: 2em;
        }

        form input {
            width: 100%;
            border-width: 0 0 1px 0;
            border-color: rgb(116, 111, 111);
            outline: none;
        }

        .shop-now {
            border: none;
            background-color: #5cdb95;
            border-radius: 3px;
            padding: 0.5rem 2rem;
            color: rgb(255, 255, 255);
            margin-top: 3rem;
        }

        section {
            margin-bottom: 4em;
        }

        .val-errors {
            width: 40%;
            margin: 1em auto;
            padding: 0;
        }

        .val-errors p {
            margin: 8px auto;
        }

        .container {
            margin-bottom: 4em;
            font-size: 13px;
        }

         .button-container{
      width: 30%;
      margin: 0 auto;
    }

    .button-container button{
      margin-left: 2em;
    }

        @media (max-width: 575.98px) {
            form {
                width: 70%;
                text-align: left;
                margin: 1.5em auto 0 auto;
            }

            .category-paragraph {
                font-size: 13px;
                margin-top: 2em;
            }
        }

        
    @media (max-width: 950px){
      .button-container button{
        width: 100%;
        margin-left: 0 !important;
      }

      .button-container{
        width: 50%;
      }

      form {
        width: 60%;
        text-align: left;
        margin: 1.5em auto 0 auto;
      }

    }

      @media (max-width: 1216px){
      .button-container button{
        width: 100%;
        margin-left: 0 !important;
      }
    }
    </style>
</head>

<body>
    <div class="container-fluid p-0" style="margin-top: 10em;">
        <header style="box-shadow: none;">
            <h2 class="header">Sign Up</h2>
            <p>Sign up to be able to purchase from us</p>
            {{#if hasErrors}}
            <div class="alert alert-danger val-errors">
                {{# each messages }}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}
        </header>

        <section>
            <form action="/user/signup" method="post">
                {{!-- <label>Name</label><br>
                <input type="text">

                <br> --}}

                <label for="email">Email</label><br>
                <input type="email" id="email" name="email">

                <br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                <label for="address">Delivery address</label><br>
                <input type="text" id="address" name="address">

                <label for="phone">Phone number</label><br>
                <input type="tel" id="phone" name="phone">

                <div class="button-container">
                    <button type="submit" class="shop-now">Sign up</button>
                </div>

            </form>
            <p style="margin-top: 2em;">Already registered? <a href="/user/signin">Sign in</a></p>
        </section>





    </div>

</body>

</html>