<style>
  :root {
    --biggest-font-size: 64px;
    --header-font-size: 32px;
    --sub-heading-font-size: 24px;
    --secondary-font-size: 18px;
    --primary-font-size: 16px;
    --primary-color: #5cdb95;
    --secondary-color: #ffffff;
    --text-color-one: #000000;
    --text-color-two: rgba(31, 8, 8, 0.6));
    --button-border-radius: 6px;
    --button-padding: 0.5rem 1.5rem;
  }

  .second-custom-container {
    width: 75%;
    margin: 0 auto;
  }

  .shop-now {
    border: none;
    background-color: #5cdb95;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    color: rgb(255, 255, 255);
    margin-top: 2em;
    font-size: 18px;
    display: block;
  }

  .delivery-address-input {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.7em 0.5em;
    outline: none;
    width: 100%;
    font-size: 14px;
    background-color: #f4f6f8;
    border: 0;
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px, rgba(84, 70, 35, 0.15) 0px 1px 3px;
  }

  .button-container {
    width: 12%;
    margin: 0 auto;
  }

  .header h1 {
    font-size: var(--sub-heading-font-size);
  }

  form {
    margin-top: 3em;
  }

  @media(max-width: 575.98px) {
    .delivery-address-input {
      width: 100%;
      margin-bottom: 2em;
    }

    .second-custom-container {
      width: 95%;
    }

    .button-container {
      width: 40%;
    }

    button {
      margin-left: 1em;
    }

    .label-container {
      width: 85%;
      margin: auto;
      text-align: left;
    }

    .input-container {
      width: 85%;
      margin: auto;
    }
  }

  @media(min-width: 576px) {
    .delivery-address-input {
      width: 100%;
      margin-bottom: 2em;
    }

    .second-custom-container {
      width: 85%;
    }

    .label-container {
      width: 85%;
      margin: auto;
      text-align: left;
    }

    .input-container {
      width: 85%;
      margin: auto;
    }

    .button-container {
      text-align: center;
      width: 30%;
      margin: auto;
    }

    button {
      width: 100%;
    }
  }

  @media(min-width: 992px) {
    .input-container {
      width: 60%;
      margin: auto;
    }

    .label-container {
      width: 60%;
      margin: auto;
      text-align: left;
    }

    .button-container {
      text-align: center;
      width: 20%;
      margin: auto;
    }
  }
</style>

<div class="second-custom-container">
  {{#if exists }}
  <div class="header" style="margin-top: 7em;">
    <h1>Pay for your purchase</h1>
  </div>
  <form action="/checkout" method="POST">
    <div class="button-container">
      <button type="submit" class="shop-now">Next</button>
    </div>
  </form>

  {{ else }}

  <div class="header" style="margin-top: 7em;">
    <h1>Add your delivery info</h1>
  </div>
  <form action="/checkout" method="POST">
    <div class="label-container">
      <label for="delivery-address">Delivery address</label>
    </div>
    <div class="input-container">
      <input id="delivery-address" type="text" class="delivery-address-input" name="address">
    </div>


    <div class="label-container">
      <label for="delivery-phone">Phone number</label>
    </div>
    <div class="input-container">
      <input id="delivery-phone" type="tel" class="delivery-address-input" name="phone">
    </div>



    <div class="button-container">
      <button type="submit" class="shop-now">Next</button>
    </div>
  </form>
  {{/if}}
</div>