<style>
  :root {
    --biggest-font-size: 64px;
    --header-font-size: 32px;
    --sub-heading-font-size: 24px;
    --secondary-font-size: 18px;
    --primary-font-size: 16px;
    --primary-color: #5cdb95;
    --secondary-color: #ffffff;
    --text-color-one: #000000;
    --text-color-two: rgba(0, 0, 0, 0.6);
    --button-border-radius: 6px;
    --button-padding: 0.5rem 1.5rem;
  }

  .third-custom-container {
    width: 75%;
    margin: 0 auto;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 6.5em;
    grid-column-gap: 6em;
  }

  .info-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px 200px;
    padding-top: 2em;
    padding-left: 2em;
  }

  .contact-header {
    font-size: var(--header-font-size);
    font-weight: 500;
    text-align: left;
    color: var(--text-color-one);
  }

  .contact-header-mobile {
    font-size: var(--header-font-size);
    font-weight: 500;
    color: var(--text-color-one);
    display: none;
  }

  div.email {
    text-align: left;
    font-size: var(--primary-font-size);
    color: var(--text-color-two);
  }

  div.phone-container {
    font-size: var(--primary-font-size);
    color: var(--text-color-two);
  }

  .social-and-phone-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }

  .social-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    color: var(--text-color-one);
  }

  .form-section p {
    color: var(--text-color-one);
    font-size: var(--primary-font-size);
    margin-top: 1em;
    text-align: left;
    font-weight: 500;
  }

  .form-section div {
    text-align: left;
    margin-top: 2em;
  }

  .form-section div input,
  .form-section div textarea {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0.7em 0.5em;
    outline: none;
    width: 29em;
    font-size: 14px;
    border: 2px solid rgb(238, 236, 236);
  }

  .form-section div button.submit {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    font-size: var(--secondary-font-size);
  }

  .link,
  .link:hover {
    color: #000;
  }

  @media(max-width: 575.98px) {
    .contact-container {
      grid-template-columns: 1fr;
    }

    .form-section div input,
    .form-section div textarea {
      width: 100%;
    }

    .info-section {
      display: none;
    }

    div.submit-button-container {
      margin-top: 3em;
      text-align: center;
    }

    div.contact-header-mobile {
      display: block;
      margin-top: 0;
    }

    div.form-section p {
      margin-bottom: 3rem;
      color: var(--text-color-two);
      font-weight: 400;
    }
  }

  @media(min-width: 576px) {
    .contact-container {
      grid-template-columns: 1fr;
    }

    .form-section div input,
    .form-section div textarea {
      width: 100%;
    }

    .info-section {
      display: none;
    }

    div.submit-button-container {
      margin-top: 3em;
      text-align: center;
    }

    div.contact-header-mobile {
      display: block;
      margin-top: 0;
    }

    div.form-section p {
      margin-bottom: 3rem;
      color: var(--text-color-two);
      font-weight: 400;
    }
  }

  @media(min-width: 992px) {
    div.contact-header-mobile {
      display: none;
    }

    .contact-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 6.5em;
      grid-column-gap: 6em;
    }

    .info-section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 50px 200px;
      padding-top: 2em;
      padding-left: 2em;
    }

    .third-custom-container {
      width: 75%;
      margin: 0 auto;
    }

    .form-section div {
      text-align: left;
      margin-top: 2em;
    }
  }
</style>

<div class="third-custom-container">
  <div class="contact-container">
    <div class="info-section">
      <div class="contact-header">
        Talk to us
      </div>
      <div class="email">
        <a class="link" href="mailto:osakaugopharma@gmail.com?subject=Email from Our Site">osakaugopharma@gmail.com</a>
      </div>
      <div class="social-and-phone-container">
        <div class="social-container">
          <div><i class="fab fa-facebook-f" style="font-size: var(--secondary-font-size);"></i></div>
          <div><i class="fab fa-twitter" style="font-size: var(--secondary-font-size);"></i></div>
          <div><i class="fab fa-instagram" style="font-size: var(--secondary-font-size);"></i></div>
          <div><i class="fab fa-whatsapp" style="font-size: var(--secondary-font-size);"></i></div>
        </div>
        <div class="phone-container"><a class="link" href="tel:0000-0000-0000">0000-0000-0000</a></div>
      </div>
    </div>
    <div class="form-section">
      <div class="contact-header-mobile">
        Talk to us
      </div>
      <p>Write to us and we will get in touch with you as soon as possible.</p>
      {{#if msg}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <form method='POST' action="/contact-us">
        <div>
          <label>Name</label>
          <br>
          <input type="text" name="name">
        </div>
        <div>
          <label>Email</label>
          <br>
          <input type="email" name="email">
        </div>
        <div>
          <label>Message</label>
          <br>
          <textarea rows="4" name="message"></textarea>
        </div>
        <div class="submit-button-container">
          <button class="submit" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>