<h2 style="margin-top: 4.5em;">Some error occured with the transaction...</h2>
<div style="margin-top: 4em !important; margin-bottom: 4.5em;">
       <a href="/checkout" style="background-color: #4fae76; color: #fff;  border-radius: 3px;
      padding: 0.5rem 1rem; border: none;" class="remove">Try again</a>
</div>