<h2 style="margin-top: 4.5em;">The payment was successful...</h2>
<div style="margin-top: 4em !important; margin-bottom: 7em;">
       <a href="/" style="background-color: #4fae76; color: #fff;  border-radius: 3px;
      padding: 0.5rem 1rem; border: none;" class="remove">Go back to homepage</a>
</div>
