<div class="container-fluid p-0">


  <div class="row justify-content-center mt-5">
    <h2>Featured Products</h2>
    <nav aria-label="breadcrumb" class="margin">
      <ol class="breadcrumb" style="background-color: #5cdb95; color: #ffffff">
        <li class="breadcrumb-item active" aria-current="page" style="color: #ffffff; font-size: 17px;">Anti-Malaria
        </li>
      </ol>
    </nav>
    {{# each products }}
    <div class="row justify-content-center">
      {{# each this }}
      <div class="col-6 col-sm-6 col-lg-4 product-container">
        <img src="{{ this.imagepath }}" class="drug-backdrop">
        <div class="button-container">
          <a href="/add-to-cart/{{this._id}}" class="cart-button">Add to cart</a>
        </div>

        <p class="category-paragraph">{{ this.name }}</p>
        <p class="price">N{{ this.price }}</p>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>